.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998; 
   color: white;
}

.fa-phone {
  background: #55ACEE;
  color: white;
}

.fa-envelope {
  background:#FF0000;
  color: white;
}

.image{
  width:600px;
  display: block;
  justify-content: center;
  margin-right: auto;
  margin-left:220px;
  margin-top:55px;
}
h3{
  margin-top:50px;
  font-size: 40px;
  font-family: serif;
  text-align: center;
  display: block;
}

.tout{
  display: block;
  margin-left:80px;
  margin-right:80px;
}

.social{
  display: block;
  text-align: center;
}



.apercu{
  font-weight: 700;
  font-size: large;
}

.def{
  font-size: 19px;
  color: rgb(49, 174, 49);
}

.container{
  text-align: center;
  font-weight: bold;
background-color: #0e0e0e16;
}
