body{
    font-family: 'Times New Roman';

    background-repeat: no-repeat;
    background-size: cover;
   

}
.t1{
    border-spacing: 15px;
    padding: 10px;
}
#button{
    margin-top: 10%;
    margin-left: 25%;
    background-color: blue;

    font-weight: bolder;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    border-color: blue;
}
#button2{
    margin-top: 10%;
    margin-left: 1%;
    background-color: blue;

    font-weight: bolder;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    border-color: blue;
}
#sign{
 
  width: 100%;
  height: 100%;
  display: list-item;
   align-items: center;
   justify-content: center;
  background-color: rgba(0, 0, 0, 0.695);
}
#col {

  width: 100%;
  height: 100%;
  display: list-item;
   align-items: center;
   justify-content: center;
  background-color: rgba(0, 0, 0, 0.695);
}

#row{
  width: 100%;
  height: 100%;
  display: list-item;
   align-items: center;
   justify-content: center;
  background-color: rgba(0, 0, 0, 0.695);

}



#tab {
    height: 50px;
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;

    border: 1px solid #333;
  }
  th{
    background-color:rgba(0, 0, 255, 0.077);
   
  }

  .Popbtn {
    position: fixed;
    left: 50%;
 
    z-index: -1;

}
#Dbtn{
  cursor: pointer;
}
